.show-sm,
.show-md,
.show-lg {
  display: none;
}

.font-kr {
  font-weight: 300;
  font-family: var(--font-kr);
  letter-spacing: -0.57px;
}

.font-en-body {
  font-weight: 400;
  font-family: var(--font-en-body);
  letter-spacing: -0.19px;
}

.font-en-title {
  font-weight: 400;
  font-family: var(--font-en-title);
  letter-spacing: -0.36px;
  text-transform: uppercase;
}

.main-title {
  display: block;
  font-weight: 300;
  font-size: 38px;
  letter-spacing: -1.14px;
}

.main-title .font-en-title {
  font-size: 40px;
  line-height: 0;
  letter-spacing: -0.8px;
}

.sub-title {
  display: block;
  font-size: 23px;
  letter-spacing: -0.46px;
}

.uppercase {
  text-transform: uppercase;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding: 0 var(--wrapper-padding-xs);
  width: 100%;
}

.collapse-panel-close {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform var(--duration-300) var(--ease-in-out);
  width: 5px;
  height: 5px;
}

.collapse-panel-close:before,
.collapse-panel-close:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: -webkit-transform var(--duration-300) var(--ease-in-out);
  transition: transform var(--duration-300) var(--ease-in-out);
  transition:
    transform var(--duration-300) var(--ease-in-out),
    -webkit-transform var(--duration-300) var(--ease-in-out);
  transition:
    transform var(--duration-300) var(--ease-in-out),
    -webkit-transform var(--duration-300) var(--ease-in-out);
  transition:
    transform var(--duration-300) var(--ease-in-out),
    -webkit-transform var(--duration-300) var(--ease-in-out);
  background-color: var(--color-black);
  width: 5px;
  height: 1px;
  content: "";
}

.collapse-panel-close:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.collapse-panel-close.is-active:after {
  transform: translate(-50%, -50%);
}

.video-player {
  position: relative;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.video-player__video {
  opacity: 0;
  -webkit-transition: opacity var(--duration-300) var(--ease-in-out);
  transition: opacity var(--duration-300) var(--ease-in-out);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.video-player[data-player-visible="true"] .video-player__video {
  opacity: 1;
}

@media (max-width: 399px) {
  .main-title {
    font-weight: 300;
    font-size: 35px;
    letter-spacing: -1.14px;
  }

  .main-title .font-en-title {
    font-size: 37px;
    line-height: 0;
    letter-spacing: -0.8px;
  }

  .sub-title {
    font-size: 21px;
    letter-spacing: -0.46px;
  }
}

@media (min-width: 601px) {
  .show-sm {
    display: block;
  }

  .hide-sm {
    display: none;
  }

  .wrapper {
    padding: 0 var(--wrapper-padding-sm);
  }
}

@media (min-width: 961px) {
  .show-md {
    display: block;
  }

  .main-title {
    font-size: 60px;
    letter-spacing: -1.8px;
  }

  .main-title .font-en-title {
    font-size: 65px;
    letter-spacing: -1.3px;
  }

  .sub-title {
    font-size: 30px;
    line-height: normal;
    letter-spacing: -0.6px;
  }
}

@media (min-width: 1201px) {
  .show-lg {
    display: block;
  }
}
