@font-face {
  font-style: normal;
  font-weight: 700;
  src:
    url("https://fonts.chanel.com/k/6bfdd4101b84c341b12dddedfa80c27f2631c468-l.woff2")
      format("woff2"),
    url("https://fonts.chanel.com/k/6bfdd4101b84c341b12dddedfa80c27f2631c468-d.woff")
      format("woff"),
    url("https://fonts.chanel.com/k/6bfdd4101b84c341b12dddedfa80c27f2631c468-a.otf")
      format("opentype");
  font-family: "futura-pt";
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-weight: 700;
  src:
    url("https://fonts.chanel.com/k/1f8babca29f743f293251dcc924d209c2013c7c3-l.woff2")
      format("woff2"),
    url("https://fonts.chanel.com/k/1f8babca29f743f293251dcc924d209c2013c7c3-d.woff")
      format("woff"),
    url("https://fonts.chanel.com/k/1f8babca29f743f293251dcc924d209c2013c7c3-a.otf")
      format("opentype");
  font-family: "futura-pt";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src:
    url("https://fonts.chanel.com/k/37919d6f51c752be37404a6e61cc5ad6419aa09b-l.woff2")
      format("woff2"),
    url("https://fonts.chanel.com/k/37919d6f51c752be37404a6e61cc5ad6419aa09b-d.woff")
      format("woff"),
    url("https://fonts.chanel.com/k/37919d6f51c752be37404a6e61cc5ad6419aa09b-a.otf")
      format("opentype");
  font-family: "futura-pt";
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-weight: 400;
  src:
    url("https://fonts.chanel.com/k/009d5c13a0e3bf49d401609497a0ec7d187e1696-l.woff2")
      format("woff2"),
    url("https://fonts.chanel.com/k/009d5c13a0e3bf49d401609497a0ec7d187e1696-d.woff")
      format("woff"),
    url("https://fonts.chanel.com/k/009d5c13a0e3bf49d401609497a0ec7d187e1696-a.otf")
      format("opentype");
  font-family: "futura-pt";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src:
    url("https://fonts.chanel.com/k/59b59ff81412328f92c5594e335e30464c7c8e84-l.woff2")
      format("woff2"),
    url("https://fonts.chanel.com/k/59b59ff81412328f92c5594e335e30464c7c8e84-d.woff")
      format("woff"),
    url("https://fonts.chanel.com/k/59b59ff81412328f92c5594e335e30464c7c8e84-a.otf")
      format("opentype");
  font-family: "open-sans";
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-weight: 700;
  src:
    url("https://fonts.chanel.com/k/b8739d09d553ea048e9d4f9a5ed859b60f653cc6-l.woff2")
      format("woff2"),
    url("https://fonts.chanel.com/k/b8739d09d553ea048e9d4f9a5ed859b60f653cc6-d.woff")
      format("woff"),
    url("https://fonts.chanel.com/k/b8739d09d553ea048e9d4f9a5ed859b60f653cc6-a.otf")
      format("opentype");
  font-family: "open-sans";
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-weight: 400;
  src:
    url("https://fonts.chanel.com/k/6af7b786fcacae93cb81f3e8ecad3a8afd5281a8-l.woff2")
      format("woff2"),
    url("https://fonts.chanel.com/k/6af7b786fcacae93cb81f3e8ecad3a8afd5281a8-d.woff")
      format("woff"),
    url("https://fonts.chanel.com/k/6af7b786fcacae93cb81f3e8ecad3a8afd5281a8-a.otf")
      format("opentype");
  font-family: "open-sans";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src:
    url("https://fonts.chanel.com/k/a774a105929a7c687be1aa7af34545e29368da77-l.woff2")
      format("woff2"),
    url("https://fonts.chanel.com/k/a774a105929a7c687be1aa7af34545e29368da77-d.woff")
      format("woff"),
    url("https://fonts.chanel.com/k/a774a105929a7c687be1aa7af34545e29368da77-a.otf")
      format("opentype");
  font-family: "open-sans";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src:
    url("https://fonts.chanel.com/k/8a57b1721150ed1c30f13a1c5573eccb43586d79-l.woff2")
      format("woff2"),
    url("https://fonts.chanel.com/k/8a57b1721150ed1c30f13a1c5573eccb43586d79-d.woff")
      format("woff"),
    url("https://fonts.chanel.com/k/8a57b1721150ed1c30f13a1c5573eccb43586d79-a.otf")
      format("opentype");
  font-family: "futura-pt-condensed";
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-weight: 400;
  src:
    url("https://fonts.chanel.com/k/dc533b0547cb7561de7d05c7f46b9f4ab078435d-l.woff2")
      format("woff2"),
    url("https://fonts.chanel.com/k/dc533b0547cb7561de7d05c7f46b9f4ab078435d-d.woff")
      format("woff"),
    url("https://fonts.chanel.com/k/dc533b0547cb7561de7d05c7f46b9f4ab078435d-a.otf")
      format("opentype");
  font-family: "futura-pt-condensed";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src:
    url("https://fonts.chanel.com/k/787fe2573bdf3c02b401dae25d3237a320d63726-l.woff2")
      format("woff2"),
    url("https://fonts.chanel.com/k/787fe2573bdf3c02b401dae25d3237a320d63726-d.woff")
      format("woff"),
    url("https://fonts.chanel.com/k/787fe2573bdf3c02b401dae25d3237a320d63726-a.otf")
      format("opentype");
  font-family: "futura-pt-condensed";
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-weight: 700;
  src:
    url("https://fonts.chanel.com/k/72235f879b4142c6a15ada293cacd122cc3aa0ac-l.woff2")
      format("woff2"),
    url("https://fonts.chanel.com/k/72235f879b4142c6a15ada293cacd122cc3aa0ac-d.woff")
      format("woff"),
    url("https://fonts.chanel.com/k/72235f879b4142c6a15ada293cacd122cc3aa0ac-a.otf")
      format("opentype");
  font-family: "futura-pt-condensed";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src:
    url("https://fonts.chanel.com/k/8b5cf00aaad4b43b75a6f2a153d24a49a4f6db2f-l.woff2")
      format("woff2"),
    url("https://fonts.chanel.com/k/8b5cf00aaad4b43b75a6f2a153d24a49a4f6db2f-d.woff")
      format("woff"),
    url("https://fonts.chanel.com/k/8b5cf00aaad4b43b75a6f2a153d24a49a4f6db2f-a.otf")
      format("opentype");
  font-family: "abchanel-pb-l";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 600;
  src:
    url("https://fonts.chanel.com/k/6506891d64c78b1ab49f21a4ead183c0017c4785-l.woff2")
      format("woff2"),
    url("https://fonts.chanel.com/k/6506891d64c78b1ab49f21a4ead183c0017c4785-d.woff")
      format("woff"),
    url("https://fonts.chanel.com/k/6506891d64c78b1ab49f21a4ead183c0017c4785-a.otf")
      format("opentype");
  font-family: "abchanel-pb-l";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src:
    url("https://fonts.chanel.com/k/593e92c7b65c0de458d1a858532d5ee87dfe8c44-l.woff2")
      format("woff2"),
    url("https://fonts.chanel.com/k/593e92c7b65c0de458d1a858532d5ee87dfe8c44-d.woff")
      format("woff"),
    url("https://fonts.chanel.com/k/593e92c7b65c0de458d1a858532d5ee87dfe8c44-a.otf")
      format("opentype");
  font-family: "abchanel-pb-s";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 600;
  src:
    url("https://fonts.chanel.com/k/09756143e005ed478abc22532000b9cecc6f674b-l.woff2")
      format("woff2"),
    url("https://fonts.chanel.com/k/09756143e005ed478abc22532000b9cecc6f674b-d.woff")
      format("woff"),
    url("https://fonts.chanel.com/k/09756143e005ed478abc22532000b9cecc6f674b-a.otf")
      format("opentype");
  font-family: "abchanel-pb-s";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src:
    url("https://fonts.chanel.com/k/a6a8410e6c6e62393e05ff44ecb5412cc7e4f695-l.woff2")
      format("woff2"),
    url("https://fonts.chanel.com/k/a6a8410e6c6e62393e05ff44ecb5412cc7e4f695-d.woff")
      format("woff"),
    url("https://fonts.chanel.com/k/a6a8410e6c6e62393e05ff44ecb5412cc7e4f695-a.otf")
      format("opentype");
  font-family: "abchanel-pb-m";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 600;
  src:
    url("https://fonts.chanel.com/k/d20c9faa99ffb19887f2d48ba1341b5f829a0172-l.woff2")
      format("woff2"),
    url("https://fonts.chanel.com/k/d20c9faa99ffb19887f2d48ba1341b5f829a0172-d.woff")
      format("woff"),
    url("https://fonts.chanel.com/k/d20c9faa99ffb19887f2d48ba1341b5f829a0172-a.otf")
      format("opentype");
  font-family: "abchanel-pb-m";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src:
    url("https://fonts.chanel.com/k/b199caee24d36ef0b4323e7ccae31a5864a0d7d1-l.woff2")
      format("woff2"),
    url("https://fonts.chanel.com/k/b199caee24d36ef0b4323e7ccae31a5864a0d7d1-d.woff")
      format("woff"),
    url("https://fonts.chanel.com/k/b199caee24d36ef0b4323e7ccae31a5864a0d7d1-a.otf")
      format("opentype");
  font-family: "futura-pt-bold";
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-weight: 700;
  src:
    url("https://fonts.chanel.com/k/ab7643b58e2f4d63ff6726878328bf3415edf1fc-l.woff2")
      format("woff2"),
    url("https://fonts.chanel.com/k/ab7643b58e2f4d63ff6726878328bf3415edf1fc-d.woff")
      format("woff"),
    url("https://fonts.chanel.com/k/ab7643b58e2f4d63ff6726878328bf3415edf1fc-a.otf")
      format("opentype");
  font-family: "futura-pt-bold";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src:
    url("https://fonts.chanel.com/k/4e101e79ab279d7c52f3b8275d4c66571ce196d2-l.woff2")
      format("woff2"),
    url("https://fonts.chanel.com/k/4e101e79ab279d7c52f3b8275d4c66571ce196d2-d.woff")
      format("woff"),
    url("https://fonts.chanel.com/k/4e101e79ab279d7c52f3b8275d4c66571ce196d2-a.otf")
      format("opentype");
  font-family: "chanel-kittithada";
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-weight: 400;
  src:
    url("https://fonts.chanel.com/k/ce096fd31e1f3b28b5bba422ea0caa8ef03739f8-l.woff2")
      format("woff2"),
    url("https://fonts.chanel.com/k/ce096fd31e1f3b28b5bba422ea0caa8ef03739f8-d.woff")
      format("woff"),
    url("https://fonts.chanel.com/k/ce096fd31e1f3b28b5bba422ea0caa8ef03739f8-a.otf")
      format("opentype");
  font-family: "chanel-kittithada";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src:
    url("https://fonts.chanel.com/k/a5ccb3793a16babba4ce3b98602be3c92ea629ee-l.woff2")
      format("woff2"),
    url("https://fonts.chanel.com/k/a5ccb3793a16babba4ce3b98602be3c92ea629ee-d.woff")
      format("woff"),
    url("https://fonts.chanel.com/k/a5ccb3793a16babba4ce3b98602be3c92ea629ee-a.otf")
      format("opentype");
  font-family: "chanel-kittithada";
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-weight: 700;
  src:
    url("https://fonts.chanel.com/k/596abea59bf3a0f4ca7a725f3ed7f63a0d7f372a-l.woff2")
      format("woff2"),
    url("https://fonts.chanel.com/k/596abea59bf3a0f4ca7a725f3ed7f63a0d7f372a-d.woff")
      format("woff"),
    url("https://fonts.chanel.com/k/596abea59bf3a0f4ca7a725f3ed7f63a0d7f372a-a.otf")
      format("opentype");
  font-family: "chanel-kittithada";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src:
    url("https://fonts.chanel.com/k/29d2ee826a834270fc144dccbb2359ae46f53c3b-l.woff2")
      format("woff2"),
    url("https://fonts.chanel.com/k/29d2ee826a834270fc144dccbb2359ae46f53c3b-d.woff")
      format("woff"),
    url("https://fonts.chanel.com/k/29d2ee826a834270fc144dccbb2359ae46f53c3b-a.otf")
      format("opentype");
  font-family: "abchanel-corpo";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 300;
  src:
    url("https://fonts.chanel.com/k/64b14ed9188172fd562480b882a998c1cb8e8eb2-l.woff2")
      format("woff2"),
    url("https://fonts.chanel.com/k/64b14ed9188172fd562480b882a998c1cb8e8eb2-d.woff")
      format("woff"),
    url("https://fonts.chanel.com/k/64b14ed9188172fd562480b882a998c1cb8e8eb2-a.otf")
      format("opentype");
  font-family: "abchanel-corpo";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 600;
  src:
    url("https://fonts.chanel.com/k/4557ee3c5c7e229667c02c3e802771f4feae8659-l.woff2")
      format("woff2"),
    url("https://fonts.chanel.com/k/4557ee3c5c7e229667c02c3e802771f4feae8659-d.woff")
      format("woff"),
    url("https://fonts.chanel.com/k/4557ee3c5c7e229667c02c3e802771f4feae8659-a.otf")
      format("opentype");
  font-family: "abchanel-corpo";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 200;
  src:
    url("https://fonts.chanel.com/k/1b32c8a567ffef9b4919d90a39670b0f25b146bc-l.woff2")
      format("woff2"),
    url("https://fonts.chanel.com/k/1b32c8a567ffef9b4919d90a39670b0f25b146bc-d.woff")
      format("woff"),
    url("https://fonts.chanel.com/k/1b32c8a567ffef9b4919d90a39670b0f25b146bc-a.otf")
      format("opentype");
  font-family: "abchanel-corpo";
  font-display: swap;
}

.tk-futura-pt {
  font-family: "futura-pt", sans-serif;
}

.tk-open-sans {
  font-family: "open-sans", sans-serif;
}

.tk-futura-pt-condensed {
  font-family: "futura-pt-condensed", sans-serif;
}

.tk-abchanel-pb-l {
  font-family: "abchanel-pb-l", sans-serif;
}

.tk-abchanel-pb-s {
  font-family: "abchanel-pb-s", sans-serif;
}

.tk-abchanel-pb-m {
  font-family: "abchanel-pb-m", sans-serif;
}

.tk-futura-pt-bold {
  font-family: "futura-pt-bold", sans-serif;
}

.tk-chanel-kittithada {
  font-family: "chanel-kittithada", sans-serif;
}

.tk-abchanel-corpo {
  font-family: "abchanel-corpo", sans-serif;
}
