.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: var(--z-nav);
  width: 100%;
}

.header__logo-icon {
  width: 6.5625rem;
}

.header__logo-icon path {
  fill: var(--color-black);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--color-white);
  width: 100%;
  height: 4rem;
}

.navigation {
  position: absolute;
  bottom: 0%;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  background-color: var(--color-white);
  width: 100%;
}

.navigation__container {
  height: 100%;
}

.navigation__trigger {
  position: relative;
  z-index: 5;
  background: var(--color-white);
  padding: 1rem;
  width: 100%;
}

.navigation__trigger-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.625rem;
  width: 100%;
}

.navigation__trigger-text {
  color: var(--color-primary);
  font-weight: 400;
  font-size: 0.75rem;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0;
  margin: 0;
  height: 0;
  background-color: #fff;
  padding: 0 1.5625rem;
  width: 100%;
  overflow: hidden;
  list-style: none;
}

.navigation.is-dragging {
  -webkit-user-drag: none;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.navigation__item {
  height: 100%;
  color: var(--color-primary);
  font-size: 0.6875rem;
  line-height: 1.2727272727;
}

.navigation__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.9375rem 0;
  height: 100%;
  font-weight: 100;
  white-space: nowrap;
}

.is-active > .navigation__link {
  font-weight: 700;
}

/* 링크/텍스트 네이티브 드래그 방지(웹킷 계열) */
.navigation,
.navigation * {
  -webkit-user-drag: none;
}

.banner {
  position: relative;
  z-index: 10;
  background-color: var(--color-white);
}

.mention {
  position: relative;
  z-index: 10;
  background-color: var(--color-gray-200);
  padding: 2.375rem 0;
}

.mention__list {
  margin: 0 auto;
  padding: 0 1.25rem;
  max-width: 75rem;
  color: var(--color-gray-600);
}

.mention__item {
  font-size: 0.875rem;
  line-height: 1.5625rem;
}

.sub-footer {
  position: relative;
  z-index: 10;
  background-color: var(--color-white);
  padding: 0;
}

.sub-footer.is-sticky {
  position: sticky;
  z-index: var(--z-breadcrumb);
}

.sub-footer__list {
  -webkit-transition: opacity var(--duration-300) var(--ease-in-out);
  transition: opacity var(--duration-300) var(--ease-in-out);
}

.sub-footer__container {
  padding: 1.6875rem 1.25rem;
}

.sub-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 1.6875rem;
}

.sub-footer__item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-bottom: 1px solid var(--color-gray-400);
}

.sub-footer__item:last-child {
  border-bottom: none;
}

.sub-footer__title {
  position: relative;
  padding: 1.6875rem 0;
  width: 100%;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.5;
  text-align: left;
}

.sub-footer__content {
  position: relative;
  -webkit-transform: translateY(-1.125rem);
  transform: translateY(-1.125rem);
  z-index: 0;
  overflow: hidden;
}
.sub-footer__paragraph {
  padding-bottom: 0.5625rem;
  color: var(--color-gray-750);
  font-weight: 300;
  font-size: 0.875rem;
}

.sub-footer__link {
  -webkit-transition: border-color var(--duration-200) var(--ease-in-out);
  transition: border-color var(--duration-200) var(--ease-in-out);
  border-bottom: 1px solid var(--color-gray-750);
  color: var(--color-gray-750);
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.sub-footer__link:hover {
  border-color: var(--color-white);
}

.breadcrumb {
  z-index: var(--z-breadcrumb);
  border-top: 1px solid var(--color-gray-400);
  background-color: var(--color-white);
  padding: 1rem 0;
  overflow: hidden;
}

.breadcrumb.is-sticky {
  position: sticky;
}

.breadcrumb__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.9375rem;
}

.breadcrumb__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.9375rem;
  color: var(--color-black);
  font-size: 0.875rem;
  line-height: 1.5625rem;
}

.breadcrumb__item:not(:first-child):before {
  display: block;
  background-color: var(--color-gray-900);
  width: 0.25rem;
  height: 0.25rem;
  content: "";
}

.breadcrumb__logo {
  width: 3.9375rem;
  height: 1.3125rem;
}

.breadcrumb__link {
  display: block;
  color: var(--color-gray-750);
}

.footer {
  z-index: var(--z-footer);
  background-color: var(--color-black);
  overflow: hidden;
}

.footer.is-sticky {
  position: sticky;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  color: var(--color-white);
}

.footer__body {
  color: var(--color-gray-500);
}

.footer__heading {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 4.5rem auto;
}

.footer__logo {
  width: 100%;
  height: auto;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid var(--color-gray-800);
  padding: 1.125rem 0;
  width: 100%;
}

.sitemap {
  display: grid;
}

.sitemap__article {
  margin-bottom: 1.875rem;
}

.sitemap__title {
  color: var(--color-gray-100);
  font-size: 0.75rem;
  line-height: 1.5;
}

.sitemap__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.5625rem;
  margin-top: 0.5625rem;
  border-bottom: none;
  color: var(--color-gray-500);
}

.sitemap__item {
  color: var(--color-gray-700);
  line-height: 1;
}

.sitemap__link {
  display: inline-block;
  min-width: 9.375rem;
  color: var(--color-gray-700);
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.2857142857;
}

.sitemap__link:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.change-language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5625rem;
  margin-bottom: 1.6875rem;
  width: 100%;
}

.change-language__label {
  color: var(--color-gray-700);
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.3333333333;
  white-space: nowrap;
}

.change-language__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.change-language__button-text {
  color: var(--color-gray-100);
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.5;
  white-space: nowrap;
}

.change-language__button-icon {
  padding: 0.35rem;
  width: 1.5rem;
  height: 1.5rem;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1rem;
}

.social__link {
  display: block;
  padding: 0.25rem;
  width: 1.5rem;
}

@media (min-width: 601px) {
  .sub-footer__container {
    padding-top: 5vw;
    padding-bottom: 5vw;
  }

  .sub-footer__title {
    padding: 0;
  }

  .sub-footer__title .collapse-panel-close {
    display: none;
  }

  .sub-footer__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 1.75rem;
    padding-bottom: 0;
  }

  .sub-footer__item {
    border: none;
  }

  .sub-footer__content {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    margin-top: 0.5625rem;
  }

  .sub-footer__paragraph {
    padding-bottom: 0;
  }

  .footer__heading {
    margin-top: 13.5rem;
    margin-bottom: 10.6875rem;
  }

  .footer__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .sitemap {
    grid-template-columns: repeat(2, 1fr);
  }

  .change-language {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 0;
  }
}

@media (min-width: 961px) {
  .header__container {
    background-color: transparent;
    padding-top: 0;
    height: 5.625rem;
  }

  .header__logo-icon {
    width: 10.9375rem;
  }

  .header__logo-icon path {
    fill: var(--color-white);
  }

  .navigation {
    backdrop-filter: blur(5px);
    -webkit-transition: width var(--duration-450) var(--ease-in-out),
      max-width var(--duration-450) var(--ease-in-out),
      background-color var(--duration-450) var(--ease-in-out);
    transition: width var(--duration-450) var(--ease-in-out),
      max-width var(--duration-450) var(--ease-in-out),
      background-color var(--duration-450) var(--ease-in-out);
    border-radius: 3px;
    background-color: hsla(0, 0%, 100%, 0.8);
    width: 90%;
    max-width: 1200px;
  }
  .navigation__container {
    height: 3.125rem;
    scrollbar-width: none;
  }
  .navigation__container > div {
    height: 100%;
  }

  .navigation.is-scrolled {
    background-color: var(--color-white);
    width: 100%;
    max-width: 100%;
  }

  .navigation__trigger {
    display: none;
  }

  .navigation__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 3.125rem;
    background-color: transparent;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 100%;
    overflow: visible;
  }

  .navigation__item:first-child {
    margin-right: 3rem;
  }

  .is-active > .navigation__link {
    border-bottom: 0.125rem solid var(--color-primary);
  }

  .breadcrumb {
    top: 0;
    z-index: 10;
  }

  .footer {
    bottom: 0;
    z-index: 5;
  }

  .sitemap {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1201px) {
  .sub-footer__container {
    padding-top: 4.5rem;
  }

  .footer {
    height: 100vh;
    /* height: calc(var(--vh, 1vh) * 100);
    min-height: 100vh;
    /* min-height: calc(var(--vh, 1vh) * 100); */
  }

  .footer__heading {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1354px) {
  .navigation__list {
    justify-self: center;
  }
}
