.fade-in-text__paragraph br,
.parallax__paragraph br {
  display: none;
}

.main-content {
  position: relative;
  z-index: var(--z-main);
  will-change: scroll-position;
  background-color: var(--color-gray-300);
}

.scroll-indicator {
  display: block;
  position: fixed;
  right: 0;
  bottom: 2rem;
  left: 0;
  z-index: 1;
  margin: 0 auto;
  padding-bottom: 1.5625rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  pointer-events: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.scroll-indicator__text {
  color: var(--color-gray-750);
  font-weight: 400;
  font-size: var(--fs-2xs);
  font-family: var(--font-brand);
}

.scroll-indicator__animation,
.scroll-indicator__animation::before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  background-color: var(--color-gray-700);
  width: 0.0625rem;
  height: 1.25rem;
  overflow: hidden;
}

.scroll-indicator__animation::before {
  -webkit-animation: moveToBottom 2.5s linear 0.1s infinite normal;
  animation: moveToBottom 2.5s linear 0.1s infinite normal;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: var(--color-black);
  content: "";
}

@-webkit-keyframes moveToBottom {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}

@keyframes moveToBottom {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  height: 100svh;
  min-height: 100vh;
  min-height: 100dvh;
  min-height: 100svh;
}

.hero__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.hero__container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.hero__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.625rem;
  color: var(--color-white);
  text-align: center;
}

.hero__sub-title {
  display: block;
  font-weight: 400;
  line-height: 1rem;
}

.fade-in-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform;
  contain: paint;
  background: var(--color-gray-300);
  height: 100vh;
  height: 100dvh;
  height: 100svh;
  min-height: 100vh;
  min-height: 100dvh;
  min-height: 100svh;
  font-family: var(--font-brand);
  text-align: center;
}

.fade-in-text__paragraph {
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  padding: 1.25rem;
  max-width: 50rem;
  overflow-x: hidden;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
  text-rendering: optimizeLegibility;
}

.fade-in-text__word {
  position: relative;
  -webkit-transition: color var(--duration-300) linear;
  transition: color var(--duration-300) linear;
  margin-right: 0.25rem;
  color: var(--color-gray-500);
  font-size: 1rem;
  line-height: 1.73rem;
  letter-spacing: 0.0125rem;
}

.parallax {
  position: relative;
  height: 100vh;
  height: 100dvh;
  height: 100svh;
  min-height: 100vh;
  min-height: 100dvh;
  min-height: 100svh;
  overflow: hidden;
}

.parallax__picture {
  height: 100%;
}

.parallax__image {
  max-width: none;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.parallax__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.375rem;
  padding: 0 1.875rem;
  width: 100%;
  height: 100%;
  color: var(--color-white);
  text-align: center;
}

.horizontal-scroll {
  position: relative;
  will-change: transform;
  height: 100vh;
  height: 100dvh;
  height: 100svh;
  min-height: 100vh;
  min-height: 100dvh;
  min-height: 100svh;
  overflow: hidden;
}

.horizontal-scroll__list {
  position: relative;
  width: 100%;
  height: 100%;
}

.horizontal-scroll__item {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  clip-path: inset(0 0 0 0);
  will-change: clip-path;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.horizontal-scroll__picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.horizontal-scroll__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.horizontal-scroll__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 9.375rem;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1rem;
  z-index: 2;
  will-change: transform;
  padding-left: 1rem;
  width: 100%;
  color: var(--color-white);
}

.horizontal-scroll__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.625rem;
}

.horizontal-scroll__paragraph {
  padding-right: 3.125rem;
}

.video-modal-preview {
  position: absolute;
  bottom: 5%;
  left: 1.25rem;
  z-index: 20;
  max-width: 12.5rem;
  overflow: hidden;
}

.video-modal-preview__mobile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.625rem;
}

.video-modal-mobile-trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.25rem;
}

.video-modal-mobile-trigger__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0.0625rem solid #fff;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.video-modal-mobile-trigger__icon {
  width: 0.625rem;
}

.video-modal-mobile-trigger__icon path {
  fill: var(--color-white);
}

.video-modal-mobile-trigger__text {
  color: var(--color-white);
  font-weight: 600;
  font-size: 0.6875rem;
  font-family: var(--font-brand);
}

.video-modal-preview__pc-container {
  display: none;
}

.video-modal-preview__video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.video-modal-pc-trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.625rem;
  padding: 0.625rem;
  width: 100%;
  color: var(--color-white);
  font-weight: 600;
  font-size: 0.6875rem;
}

.video-modal-pc-trigger:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.video-modal-pc-trigger__icon {
  height: 0.75rem;
}

.video-modal-pc-trigger__icon path {
  fill: var(--color-white);
}

.video-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  will-change: transform; /* GPU 가속 최적화 */
  height: 100%;
}

.video-modal__video {
  will-change: transform; /* GPU 가속 최적화 */
  width: 100%;
  max-width: 90vw;
  max-height: 90vh;
}

.extension {
  position: relative;
  margin-top: 20vh;
  overflow: hidden;
}

.extension__container {
  overflow: hidden;
}

.extension__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 5%;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.875rem;
  padding: 12.5rem 1.75rem 1.75rem;
  width: 100%;
  color: #fff;
  text-align: center;
}

.extension__main-title {
  font-weight: 600;
  font-size: 2.25rem;
}

.extension__paragraph {
  max-width: 31.25rem;
}

.slide-up-text {
  background-image: url(https://www.chanel.com/puls-img/1728655303944-n1camelliaskinbenefitsmjpg_1480x750.jpg);
  background-size: cover;
  overflow: hidden;
  color: #fff;
}

.slide-up-text__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  padding-bottom: 1.875rem;
  height: 100vh;
  height: 100dvh;
  height: 100svh;
  min-height: 100vh;
  min-height: 100dvh;
  min-height: 100svh;
}

.slide-up-text__content {
  display: none;
}

.slide-up-text__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.625rem;
}

.slide-up-text__appear {
  margin: 0 auto;
  padding-bottom: 1.25em;
  text-align: center;
}

.slide-up-text__effect {
  max-width: 15rem;
  font-weight: 600;
  font-size: 1.125rem;
}

.slide-up-text__accent {
  position: relative;
  font-weight: 600;
  font-size: 5.625rem;
}

.slide-up-text__accent-sup {
  vertical-align: top;
  font-weight: 300;
  font-size: 2rem;
  line-height: 6.25rem;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  will-change: transform;
  background-color: #fff;
  height: 100vh;
  height: 100dvh;
  height: 100svh;
  min-height: 100vh;
  min-height: 100dvh;
  min-height: 100svh;
  overflow: hidden;
}

.carousel__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  will-change: transform;
  width: 100vw;
  height: auto;
  overflow: hidden;
}

.carousel__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3125rem;
  will-change: transform;
  overflow-x: visible;
}

.carousel__item {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 41.875rem;
}

.carousel__item--video {
  width: 75vw;
}

.carousel__item--image {
  width: 54vw;
}

.carousel__video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.carousel__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.carousel__picture {
  width: 100%;
  height: 100%;
}

.carousel__control {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
  padding: 0 0.9375rem;
  height: 41.875rem;
}

.carousel__control--prev {
  left: 0;
}
.carousel__control--prev svg {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.carousel__control--next {
  right: 0;
}

.discover {
  bottom: 0;
  z-index: 10;
  background-color: var(--color-gray-200);
  overflow: hidden;
}

.discover.is-sticky {
  position: sticky;
}

.discover__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.875rem;
  height: 100vh;
  height: 100dvh;
  height: 100svh;
  min-height: 100vh;
  min-height: 100dvh;
  min-height: 100svh;
}

.discover__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.discover__main-title {
  display: block;
  color: var(--color-primary);
  font-weight: 600;
}

.discover__link {
  margin-top: 1.875rem;
  padding: 0.75rem 1.3125rem 0.875rem;
  font-weight: 600;
  font-size: 0.6875rem;
  line-height: 1.2727272727;
}

.products {
  margin-top: 3.125rem;
  border-bottom: 0.625rem solid var(--color-black);
  width: 100%;
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  gap: 0.9375rem;
  margin: auto;
}

.products__item {
  position: relative;
}

.products__item-1,
.products__item-4,
.products__item-6 {
  display: none;
}

.products__item-1 .product-link {
  bottom: 90%;
  left: 90%;
}

.products__item-2 {
  width: 25%;
}

.products__item-2 .product-link {
  bottom: 90%;
  left: -28%;
}

.products__item-3 {
  width: 20%;
}

.products__item-3 .product-link {
  bottom: 90%;
  left: -40%;
}

.products__item-4 .product-link {
  right: 20%;
  bottom: 115%;
}

.products__item-5 {
  width: 34%;
}

.products__item-5 .product-link {
  top: -15%;
  right: -0.3125rem;
}

.product-link {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 8.976vw;
  max-width: 2.625rem;
  height: 8.976vw;
  max-height: 2.625rem;
}

.product-link__text {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -150%);
  transform: translate(-50%, -150%);
  font-weight: 600;
  font-size: 0.375rem;
}

.product-link__icon {
  width: 1.125rem;
  height: auto;
}

.product-link:hover .product-link__icon path {
  fill: var(--color-white);
}

@media (min-width: 601px) {
  .horizontal-scroll__main-title br {
    display: none;
  }

  .video-modal-preview {
    left: 1rem;
  }

  .video-modal-preview__mobile-container {
    display: none;
  }

  .video-modal-preview__pc-container {
    display: block;
    border: 0.0625rem solid var(--color-white);
    width: 100%;
    height: 100%;
  }

  .slide-up-text {
    background-image: url(https://www.chanel.com/puls-img/1728655303968-n1camelliaskinbenefitsdjpg_1660x2880.jpg);
  }

  .slide-up-text__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.875rem;
    margin-bottom: 5.375rem;
    width: 100%;
    max-width: 41.9375rem;
    text-align: center;
  }

  .slide-up-text__sub-title {
    font-size: 1rem;
    line-height: 1.5625rem;
  }

  .slide-up-text__main-title {
    font-size: 2.25rem;
    line-height: 3.875rem;
  }

  .slide-up-text__main-title br {
    display: none;
  }

  .carousel__container {
    position: sticky;
    height: 100%;
  }

  .carousel__list {
    padding: 0 40% 0 70%;
  }

  .carousel__control {
    display: none;
  }

  .product-link__text {
    font-size: 0.6875rem;
  }
}

@media (min-width: 961px) {
  .fade-in-text__paragraph br,
  .parallax__paragraph br,
  .horizontal-scroll__main-title br {
    display: block;
  }
  .fade-in-text__word {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.875rem;
  }

  .parallax__container {
    gap: 1.875rem;
    padding: 0;
  }

  .horizontal-scroll__content {
    top: 15%;
    left: 8%;
    gap: 1.875rem;
    padding-left: 0;
    width: auto;
    white-space: nowrap;
  }

  .video-modal-preview {
    left: 8%;
  }

  .extension__main-title {
    font-size: 3.375rem;
    line-height: 3.875rem;
  }

  .slide-up-text__container {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-top: 11rem;
  }

  .slide-up-text__content {
    text-align: left;
  }

  .slide-up-text__main-title {
    font-size: 3.375rem;
  }

  .slide-up-text__appear {
    margin: 0;
    text-align: left;
  }
  .slide-up-text__effect {
    max-width: none;
  }

  .carousel__item--video {
    width: 33.5rem;
  }

  .carousel__item--image {
    width: 21.5625rem;
  }

  .products__item-1 {
    display: block;
    width: 9%;
  }

  .products__item-2 {
    width: 10%;
  }

  .products__item-2 .product-link {
    left: 80%;
  }

  .products__item-3 {
    width: 8%;
  }

  .products__item-3 .product-link {
    bottom: 89%;
    left: 90%;
  }

  .products__item-4 {
    display: block;
    width: 15%;
  }

  .products__item-4 .product-link {
    right: 0;
  }

  .products__item-5 {
    width: 13%;
  }

  .products__item-5 .product-link {
    top: -15%;
    right: -0.3125rem;
  }

  .products__item-6 {
    display: block;
    width: 18%;
  }

  .products__item-6 .product-link {
    right: 0;
    bottom: 65%;
  }

  .product__link {
    width: 3.1945vw;
  }
}