.main-content {
  position: relative;
  z-index: var(--z-main);
  will-change: scroll-position;
  background-color: var(--color-gray-300);
}

.more-link {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  color: var(--color-white);
}

.more-link .wrapper {
  position: absolute;
  bottom: min(30vw, 120px);
  text-align: right;
}

.more-link__text {
  display: block;
  font-size: 13px;
  line-height: normal;
  letter-spacing: -0.26px;
  text-decoration: underline;
  text-underline-position: under;
}

.hero {
  position: relative;
  height: 100vh;
  /* height: calc(var(--vh, 1vh) * 100); */
  min-height: 100vh;
  /* min-height: calc(var(--vh, 1vh) * 100); */
}

.hero__video-player {
  background-image: url("https://cdn.dalbasignature.com/assets/POSTER/MAIN-SECTION1-MO.jpg");
}

.hero__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.hero__container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.hero__container.is-fade-out {
  animation: fade-out var(--duration-300) linear forwards;
}

.hero__container.is-fade-in {
  animation: fade-in var(--duration-300) linear forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform;
  background-image: linear-gradient(to bottom, #372719, var(--color-black));
  height: 100vh;
  /* height: calc(var(--vh, 1vh) * 100); */
  min-height: 100vh;
  /* min-height: calc(var(--vh, 1vh) * 100); */
  text-align: center;
}

.fade-in-text__paragraph {
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
  font-size: 0;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
  text-rendering: optimizeLegibility;
  text-transform: initial;
}

.fade-in-text__paragraph + .fade-in-text__paragraph {
  margin-top: 40px;
}

.fade-in-text__word {
  position: relative;
  -webkit-transition: color var(--duration-300) linear;
  transition: color var(--duration-300) linear;
  margin: 0 -0.15px;
  font-size: 18px;
  line-height: 166.667%;
}

.fade-in-text__word--title {
  margin: 0 -0.4px;
  font-size: 40px;
  line-height: 125%;
}

.horizontal-scroll {
  position: relative;
  will-change: transform;
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
}

.horizontal-scroll__list {
  position: relative;
  width: 100%;
  height: 100%;
}

.horizontal-scroll__item {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  clip-path: inset(0 0 0 0);
  will-change: clip-path;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.horizontal-scroll__picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.horizontal-scroll__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.horizontal-scroll__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: min(35vw, 140px);
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: min(12.5vw, 50px);
  z-index: 2;
  will-change: transform;
  color: var(--color-white);
}

.horizontal-scroll__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: normal;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: min(15vw, 60px);
}

.slide-up-text {
  background-size: cover;
  overflow: hidden;
  color: #fff;
}

.slide-up-text__container {
  position: relative;
}

.slide-up-text__video-player {
  background-image: url("https://cdn.dalbasignature.com/assets/POSTER/MAIN-SECTION4-MO.jpg");
}

.slide-up-text__content {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
}

.slide-up-text__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.625rem;
}

.slide-up-text__paragraph {
  display: none;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  will-change: transform;
  background-color: #fff;
  padding: min(25vw, 100px) 0;
  overflow: hidden;
}

.carousel__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  will-change: transform;
  width: 100vw;
  height: auto;
  overflow: hidden;
}

.carousel__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  will-change: transform;
  overflow-x: visible;
}

.carousel__item {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: max(60vw, 240px);
  height: auto;
}

.carousel__item:nth-of-type(even) {
  width: max(35vw, 140px);
}

.carousel__video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.carousel__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.carousel__picture {
  width: 100%;
  height: 100%;
}

.carousel__control {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
  padding: 0 0.9375rem;
  height: 100%;
}

.carousel__control--prev {
  left: 0;
}
.carousel__control--prev svg {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.carousel__control--next {
  right: 0;
}

.discover {
  position: relative;
  bottom: -100vw;
  z-index: var(--z-carousel-control);
  background-size: cover;
  overflow: hidden;
}

.discover.is-sticky {
  position: sticky;
}

.discover__picture {
  width: 100%;
  height: 100%;
}

.discover__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discover__content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--z-main);
  width: 100%;
  height: 100%;
}

.discover__heading {
  padding-top: min(25vw, 100px);
}

.discover__main-title {
  display: block;
  color: var(--color-white);
  text-align: center;
}

.products {
  display: none;
}

@media (min-width: 601px) {
  .hero__video-player {
    background-image: url("https://cdn.dalbasignature.com/assets/POSTER/MAIN-SECTION1-PC.jpg");
  }

  .horizontal-scroll__content {
    top: min(16.666vw, 120px);
  }

  .slide-up-text__container {
    height: 100vh;
    min-height: 100vh;
  }

  .slide-up-text__video-player {
    background-image: url("https://cdn.dalbasignature.com/assets/POSTER/MAIN-SECTION4-PC.jpg");
  }

  .carousel {
    padding: 0;
    height: 100vh;
    min-height: 100vh;
  }

  .carousel__container {
    position: sticky;
    height: 100%;
  }

  .carousel__list {
    gap: 30px;
    padding: 0 40% 0 70%;
  }

  .carousel__item {
    width: max(34.722vw, 600px);
    height: 66.248vh;
  }

  .carousel__item:nth-of-type(even) {
    width: max(23.148vw, 400px);
  }

  .carousel__control {
    display: none;
  }

  .discover {
    bottom: 0;
    background-image: linear-gradient(
      180deg,
      #000000 0%,
      #240c00 50%,
      #411e02 60%,
      #713b03 70%,
      #ad7028 80%,
      #ffe4af 100%
    );
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--color-white);
  }

  .discover__container {
    height: 100vh;
    min-height: 100vh;
  }

  .discover__content {
    display: flex;
    flex-direction: column;
  }

  .discover__heading {
    padding-top: 17vh;
  }

  .discover__picture {
    display: none;
  }

  .products {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 12vh;
  }

  .products::after {
    display: block;
    position: relative;
    transform: translateY(clamp(-28px, -1.446vw, -19.6656px));
    z-index: 10;
    border-top: 5px solid #444;
    background-image: linear-gradient(to top, #000, #333);
    width: 100%;
    height: clamp(19.6656px, 1.446vw, 28px);
    content: "";
  }
  .products__list {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-end;
    transform: translateX(clamp(50px, 4.166vw, 80px));

    width: clamp(893.2928px, 65.683vw, 1261px);
  }

  .products__item {
    display: flex;
    position: relative;
    align-items: flex-end;
  }

  .products__item--capsule {
    left: 0;
    width: clamp(342.3664px, 25.174vw, 483px);
  }

  .products__item--color-correction {
    margin-left: clamp(-77px, -4vw, -54.4px);
    width: clamp(145.6016px, 10.706vw, 206px);
  }

  .products__item--double-ampoule {
    margin-left: clamp(-33px, -1.736vw, -23.6096px);
    width: clamp(149.532px, 10.995vw, 211px);
  }

  .products__item--essence-toner {
    transform: translateY(clamp(7.8744px, 0.579vw, 11px));
    margin-left: clamp(-96px, -5vw, -68px);
    width: clamp(236.1096px, 17.361vw, 333px);
  }

  .products__item--liposome {
    transform: translateY(clamp(-6px, -0.289vw, -3.9304px));
    margin-left: clamp(-67px, -3.472vw, -47.2192px);
    width: clamp(133.7968px, 9.838vw, 189px);
  }

  .products__item--spray-ampoule {
    right: 0;
    transform: translateY(clamp(-11px, -0.579vw, -7.8744px));
    margin-left: clamp(-111px, -5.787vw, -78.7032px);
    width: clamp(314.8128px, 23.148vw, 444px);
  }

  .products__item--essence-toner .products__image {
    transform: rotate(-6deg);
  }

  .products__anchor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    z-index: 5;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 0.5px solid #d9d9d9;
    border-radius: 50%;
    width: clamp(27.54px, 2.025vw, 39px);
    height: clamp(27.54px, 2.025vw, 39px);
  }

  .products__item--capsule .products__anchor {
    transform: translate(clamp(-17px, -0.868vw, -11.8048px), clamp(-24px, -1.25vw, -17px));
  }
  .products__item--color-correction .products__anchor {
    transform: translate(clamp(-33px, -1.736vw, -23.6096px), clamp(-28px, -1.447vw, -19.6792px));
  }
  .products__item--double-ampoule .products__anchor {
    transform: translate(clamp(-22px, -1.157vw, -15.7352px), clamp(-30px, -1.591vw, -21.6376px));
  }
  .products__item--essence-toner .products__anchor {
    transform: translate(clamp(-94px, -4.918vw, -66.8848px), clamp(-8px, -0.434vw, -5.9024px));
  }
  .products__item--liposome .products__anchor {
    transform: translate(clamp(-48px, -2.5vw, -34px), clamp(-30px, -1.591vw, -21.6376px));
  }
  .products__item--spray-ampoule .products__anchor {
    transform: translate(clamp(-156px, -8.102vw, -110.1872px), clamp(-44px, -2.315vw, -31.484px));
  }

  .products__icon {
    width: 60%;
    height: auto;
  }

  .discover .more-link {
    display: none;
  }
}

@media (min-width: 961px) {
  .more-link__text {
    font-size: 19px;
    letter-spacing: -0.19px;
  }

  .fade-in-text__word {
    font-size: 25px;
    line-height: 144%;
    letter-spacing: -0.5px;
  }
  .fade-in-text__word--title {
    font-size: 55px;
    letter-spacing: -1.1px;
  }

  .horizontal-scroll__content {
    top: min(11.863vw, 205px);
    gap: 30px;
  }

  .horizontal-scroll__heading {
    gap: min(5.787vw, 100px);
  }

  .slide-up-text__content {
    top: 50%;
    transform: translateY(-50%);
    padding-top: 20px;
    width: auto;
    text-align: left;
  }

  .slide-up-text__paragraph {
    display: block;
    margin-top: 35px;
  }
}

@media (min-width: 1201px) {
}

@media (min-width: 1850px) {
}
