*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: auto;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-size: 15px;
}

/* Set core body defaults */
body {
  min-height: 100svh;
  line-height: var(--lh-base);
  font-family: var(--font-sans-secondary);
}

/* A elements that don't have a class get default styles */
a {
  color: inherit;
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove default table spacing */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Remove default fieldset styles */
fieldset {
  border: 0;
  min-width: 0;
}

/* Remove default button styles */
button {
  color: inherit;
  cursor: pointer;
  border: none;
  background: none;
}
button:disabled {
  cursor: inherit;
  color: inherit;
}

/* Remove default input styles */
input,
textarea {
  outline: none;
  border: none;
}

/* Remove default select styles */
select {
  outline: none;
  border: none;
  background: transparent;
}

/* Remove default details styles */
details {
  display: block;
}

/* Remove default summary styles */
summary {
  display: list-item;
}

/* Remove default template styles */
template {
  display: none;
}

/* Remove default hidden styles */
[hidden] {
  display: none !important;
}

sup {
  position: relative;
  top: -0.2em;
}

h2 {
  font-family: var(--font-brand);
  text-transform: uppercase;
}

@media (min-width: 601px) {
  html {
    font-size: 16px;
  }
}
